/* For mobile phones: */
[class*="col-"] {
	float: left;
	padding: 10px;
}


  
@media only screen and (min-width: 600px) {
    /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
  
@media only screen and (min-width: 768px) {
    /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}



ul#menu {
  font-family: Verdana, sans-serif;
  font-size: 20px;
  margin: 0px;
  padding: 0;
  
  
}
ul#menu li {
 
  border-bottom: 5px solid #E3CAA5;
  display: block;
  margin: 10px;
  float: right;/* elementi su singola riga */
  
}
ul#menu li a {
  color: #E3CAA5;
  display: block;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}
ul#menu li.active, ul#menu li:hover {
  color: black;
  border-bottom: 5px solid ;
}
ul{
  background-color: #917b66;
  height: 100px;
  
}
div.titolo{
  text-align: center;
  font-size:100px;
  color:#917b66
  
}
div.contenuto{
  text-align: center;
  margin :  auto;
  margin-top:50px;
  font-size: 30px;
  width:600px;


}

img.logo{
  height: 100px;
  
}

h3.problemTitle{
  font-size:30px;
  color:#917b66
}
h1.problemTitle{
  color:#917b66
}

body{
  background-color: #FFFBE9;
}
p:hover{
  color:grey
}